In [17]:
import pandas as pd

df = pd.read_csv('..\datasets\electricity_usage_data.csv')

# Displaying the first 5 rows of the dataframe
print(df.head())

# Getting information about the dataframe
print(df.info())
print(df['sectorName'].unique())

   year  month stateDescription   sectorName  customers  price   revenue  \
0  2001      1          Wyoming  all sectors        NaN   4.31  48.12840
1  2001      1          Wyoming   commercial        NaN   5.13  12.67978
2  2001      1          Wyoming   industrial        NaN   3.26  19.60858
3  2001      1          Wyoming        other        NaN   4.75   0.76868
4  2001      1          Wyoming  residential        NaN   6.01  15.07136

        sales
0  1116.17208
1   247.08691
2   602.30484
3    16.17442
4   250.60591
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85870 entries, 0 to 85869
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              85870 non-null  int64
 1   month             85870 non-null  int64
 2   stateDescription  85870 non-null  object
 3   sectorName        85870 non-null  object
 4   customers         59830 non-null  float64
 5   price             85870 non-null  float64
 6   revenue           85870 non-null  float64
 7   sales             85870 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 5.2+ MB
None
['all sectors' 'commercial' 'industrial' 'other' 'residential'
 'transportation']

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Ahmed Ayaz\AppData\Local\Temp\ipykernel_35024\2571913739.py:3: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv('..\datasets\electricity_usage_data.csv')

In [11]:
us_states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", 
    "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", 
    "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", 
    "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", 
    "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
]

df_states = df[df['stateDescription'].isin(us_states)]

print(f"\nOriginal DataFrame shape: {df.shape}")
print(f"DataFrame with only 50 US states: {df_states.shape}")

print("\nUnique states after filtering:")
print(df_states['stateDescription'].unique())
print(df_states)

Original DataFrame shape: (85870, 8)
DataFrame with only 50 US states: (69250, 8)

Unique states after filtering:
['Wyoming' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Alabama'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Rhode Island' 'Alaska' 'Arizona' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Arkansas' 'California' 'Colorado' 'Connecticut' 'Delaware' 'Florida'
 'Pennsylvania']
       year  month stateDescription      sectorName  customers  price  \
0      2001      1          Wyoming     all sectors        NaN   4.31
1      2001      1          Wyoming      commercial        NaN   5.13
2      2001      1          Wyoming      industrial        NaN   3.26
3      2001      1          Wyoming           other        NaN   4.75
4      2001      1          Wyoming     residential        NaN   6.01
...     ...    ...              ...             ...        ...    ...
85865  2024      1         Arkansas     all sectors  1717720.0   9.63
85866  2024      1         Arkansas      commercial   208669.0  10.26
85867  2024      1         Arkansas      industrial    34951.0   7.08
85868  2024      1         Arkansas     residential  1474098.0  11.24
85869  2024      1         Arkansas  transportation        2.0  12.70

         revenue       sales
0       48.12840  1116.17208
1       12.67978   247.08691
2       19.60858   602.30484
3        0.76868    16.17442
4       15.07136   250.60591
...          ...         ...
85865  442.98773  4598.63147
85866   97.79467   953.02154
85867  109.92656  1553.02838
85868  235.26399  2092.56172
85869    0.00252     0.01984

[69250 rows x 8 columns]

In [12]:
df_states = df_states.drop('customers', axis=1)

# Print the shape of the new DataFrame to see how many rows were kept
print(f"\nOriginal DataFrame shape: {df.shape}")
print(f"DataFrame with only 50 US states and 'customers' column removed: {df_states.shape}")

# Print column names to verify 'customers' has been removed
print("\nColumns after removing 'customers':")
print(df_states.columns)

Original DataFrame shape: (85870, 8)
DataFrame with only 50 US states and 'customers' column removed: (69250, 7)

Columns after removing 'customers':
Index(['year', 'month', 'stateDescription', 'sectorName', 'price', 'revenue',
       'sales'],
      dtype='object')

In [16]:
df_filtered = df_states[df_states['sectorName'] == 'all sectors']
print(f"DataFrame with only 'all sectors': {df_filtered.shape}")

print("\nFirst few rows of the filtered DataFrame:")
print(df_filtered.head())

print("\nUnique values in 'sectorName' after filtering:")
print(df_filtered['sectorName'].unique())

DataFrame with only 'all sectors': (13850, 7)

First few rows of the filtered DataFrame:
    year  month stateDescription   sectorName  price     revenue        sales
0   2001      1          Wyoming  all sectors   4.31    48.12840   1116.17208
8   2001      1     South Dakota  all sectors   5.85    46.98518    803.24177
13  2001      1        Tennessee  all sectors   5.59   539.11548   9648.54559
18  2001      1            Texas  all sectors   6.90  1903.81241  27583.76887
23  2001      1             Utah  all sectors   4.67    95.25759   2039.95489

Unique values in 'sectorName' after filtering:
['all sectors']

In [19]:
df_filtered.to_csv('..\datasets\cleaned_electricity_usage_data.csv', index=False)
print(df_filtered.shape)
print("Data has been saved to 'cleaned_electricity_usage_data.csv'")

(13850, 7)
Data has been saved to 'cleaned_electricity_usage_data.csv'

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Ahmed Ayaz\AppData\Local\Temp\ipykernel_35024\769332520.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_filtered.to_csv('..\datasets\cleaned_electricity_usage_data.csv', index=False)